<% articleList.forEach(article => { %>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
        <div class="card card-small card-post card-post--1">
            <div class="card-post__image" style="background-image: url('<%= article.coverImage %>');">
                <a href="" class="card-post__category badge badge-pill badge-dark"><%= article.categories[0].title %></a>
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    <a class="text-fiord-blue" href="/article/<%= article.slug %>"><%= article.title %></a>
                </h5>
                <p class="card-text d-inline-block mb-3"><%= article.abstract %></p>
                <span class="text-muted">28 February 2019</span>
            </div>
        </div>
    </div>
<% }) %>

<!-- <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
    <div class="card card-small card-post card-post--1">
        <div class="card-post__image" style="background-image: url('/images/writer/2.jpeg');">
            <a href="#" class="card-post__category badge badge-pill badge-info">Travel</a>

        </div>
        <div class="card-body">
            <h5 class="card-title">
                <a class="text-fiord-blue" href="#">Off tears are day blind smile alone had ready</a>
            </h5>
            <p class="card-text d-inline-block mb-3">Is at purse tried jokes china ready decay an. Small its shy way had
                woody downs power. To denoting admitted speaking learning my...</p>
            <span class="text-muted">29 February 2019</span>
        </div>
    </div>
</div> -->