<nav class="navbar-custom bg-dark p-0 m-0">
   <div class="col-12 navbar-collapse-custom d-flex m-0 p-0">
      <div class="col-xl-2 col-0 p-0 m-0 blank-col-nav">
      </div>
      <div class="content-nav col-xl-8 col-12 m-0 p-0 d-flex">
         <input type="checkbox" id="btn-hamburger">
         <label for="btn-hamburger" class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
         </label>
         <div class="logo d-flex align-items-center m-0"> <a href="home"><img class="" src="/images/icons/logo.png"
                  alt=""></a></div>
         <ul class="w-100 navbar-nav-custom p-0 m-0 d-flex justify-content-lg-between">
            <div class="list-nav-links">
               <div class="blank">

               </div>
               <% var val=1 %>
               <div class="list-child-nav-links">
                  <% categoryList.forEach(function(eachCategory){%>
                  <li class="child-nav-links" value='<%= val++ %>' checkOpen="false">
                     <% if(eachCategory.subCategories.length !== 0){ %>
                     <a class="nav-link-custom text-uppercase d-flex justify-content-between align-items-center font-weight-bold p-0"><%= eachCategory.title %>&nbsp;&nbsp;<i
                           class="fa fa-caret-down"></i></a>
                     <ul class="dropdown-menu-custom p-0">
                        <% eachCategory.subCategories.forEach(function(eachSubCategory){ %>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center"
                              href="/category/<%= eachSubCategory.slug %>/1"><%= eachSubCategory.title %></i></a>
                        </li>
                        <% }) %>
                        <li>
                           <a class="text-uppercase d-flex align-content-center align-items-center" href="/category/<%= eachCategory.slug %>/1"><i
                                 class="fa fa-asterisk"></i>&nbsp;&nbsp;All <%= eachCategory.title %>s </a>
                        </li>
                     </ul>
                     <% }else{ %>
                     <a class="nav-link-custom text-uppercase d-flex justify-content-between align-items-center font-weight-bold p-0" href="/category/<%= eachCategory.slug %>/1"><%= eachCategory.title %></i></a>
                     <% } %>
                  </li>
                  <%})%>
               </div>
            </div>
            <div class="control-nav d-flex align-items-center">
               <div class="search" id='btn-open-searchBox' checkOpen="false">
                  <div class="line-x"></div>
                  <i class="fa fa-search"></i>
               </div>

               <% if(account){ %>
               <% if(account.avatar == undefined){ %>
               <div class="sign" id="btn-open-informationUser" checkOpen="false"> <img class=""
                     src="/images/avatars/none.jpg" alt=""></div>
               <% }else{ %>
               <div class="sign img-avatar" id="btn-open-informationUser" checkOpen="false"><img class=""
                     src="<%= account.avatar %>" alt=""></div>
               <%}%>
               <% }else{ %>
               <div class="sign" id="btn-open-informationUser" checkOpen="false"> <a href="/auth"><img class=""
                        src="/images/icons/auth.png" alt=""></a></div>
               <% } %>

            </div>
         </ul>

         <% if(account) { %>
         <% if(account.expiredAt > Date.now()) { %>
         <div class="information-user">
            <div class="control-information-user m-0 row">
               <% if(account.avatar == undefined){ %>
               <div class="avatar-user img-avatar"><img src="/images/avatars/none.jpg" alt=""></div>
               <% }else{ %>
               <div class="avatar-user img-avatar"><img src="<%= account.avatar %>" alt=""></div>
               <%}%>
               <div class="status-user">
                  <p class="full-name font-weight-bold m-0"><%= account.fullname %></p>
               <span class="badge badge-custom-premium">Premium</span>
            </div>
            <div class="control w-100 row">
               <a href="/information">Account</a>
               <a href="/logout" id="log-out">Log Out</a>
            </div>
            <div class="top-5-recent-news">
               <div class="title text-uppercase">top 5 recently news</div>
               <div class="list-5-recent-news">
                  <a href="detail" class="recent-news">
                     <div class="d-flex m-0 backgorund-recent-news">
                        <div class="avatar-news"><img src="/images/products/recent1.jpg" alt="">
                        </div>
                        <div class="title-news">
                           <p class="m-0">Apple’s latest iPad Pros are cheaper than ever at Amazon
                              and Best Buy</p>
                        </div>
                     </div>
                  </a>
                  <a href="detail" class="recent-news">
                     <div class="d-flex m-0 backgorund-recent-news">
                        <div class="avatar-news"><img src="/images/products/recent2.jpg" alt="">
                        </div>
                        <div class="title-news">
                           <p class="m-0">Microsoft unveils disc-less Xbox One S All-Digital
                              Edition for $249</p>
                        </div>
                     </div>
                  </a>
                  <a href="detail" class="recent-news">
                     <div class="d-flex m-0 backgorund-recent-news">
                        <div class="avatar-news"><img src="/images/products/recent3.jpg" alt="">
                        </div>
                        <div class="title-news">
                           <p class="m-0">Apple adds extra step to App Store subscriptions to
                              prevent scams and accidental purchases</p>
                        </div>
                     </div>
                  </a>
                  <a href="detail" class="recent-news">
                     <div class="d-flex m-0 backgorund-recent-news">
                        <div class="avatar-news"><img src="/images/products/recent4.jpg" alt="">
                        </div>
                        <div class="title-news">
                           <p class="m-0">Fujifilm X-T30 review: a little wonder of a camera</p>
                        </div>
                     </div>
                  </a>
                  <a href="detail" class="recent-news">
                     <div class="d-flex m-0 backgorund-recent-news">
                        <div class="avatar-news"><img src="/images/products/recent5.jpg" alt="">
                        </div>
                        <div class="title-news">
                           <p class="m-0">Kinetic sculptures and sound circuits: building
                              solar-powered art at Pioneer Works</p>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
         </div>
         <div class="top-5-product-seen"></div>
      </div>
      <% } else { %>
      <div class="information-user">
         <div class="control-information-user m-0 row">
            <div class="avatar-user img-avatar"><img src="<%= account.avatar %>" alt=""></div>
            <div class="status-user">
               <p class="full-name font-weight-bold m-0"><%= account.fullname %></p>
               <span class="badge badge-custom-free">Free</span>
            </div>

            <div class="control w-100 row">
               <a href="/information">Account</a>
               <a href="/auth/logout" id="log-out">Log Out</a>
            </div>
            <!-- <div class="top-5-recent-news">
               <div class="title text-uppercase">top 5 recently news</div>
               <div class="list-5-recent-news">
                  <a href="detail" class="recent-news">
                     <div class="d-flex m-0 backgorund-recent-news">
                        <div class="avatar-news"><img src="/images/products/recent1.jpg" alt="">
                        </div>
                        <div class="title-news">
                           <p class="m-0">Apple’s latest iPad Pros are cheaper than ever at Amazon
                              and Best Buy</p>
                        </div>
                     </div>
                  </a>
                  <a href="detail" class="recent-news">
                     <div class="d-flex m-0 backgorund-recent-news">
                        <div class="avatar-news"><img src="/images/products/recent2.jpg" alt="">
                        </div>
                        <div class="title-news">
                           <p class="m-0">Microsoft unveils disc-less Xbox One S All-Digital
                              Edition for $249</p>
                        </div>
                     </div>
                  </a>
                  <a href="detail" class="recent-news">
                     <div class="d-flex m-0 backgorund-recent-news">
                        <div class="avatar-news"><img src="/images/products/recent3.jpg" alt="">
                        </div>
                        <div class="title-news">
                           <p class="m-0">Apple adds extra step to App Store subscriptions to
                              prevent scams and accidental purchases</p>
                        </div>
                     </div>
                  </a>
                  <a href="detail" class="recent-news">
                     <div class="d-flex m-0 backgorund-recent-news">
                        <div class="avatar-news"><img src="/images/products/recent4.jpg" alt="">
                        </div>
                        <div class="title-news">
                           <p class="m-0">Fujifilm X-T30 review: a little wonder of a camera</p>
                        </div>
                     </div>
                  </a>
                  <a href="detail" class="recent-news">
                     <div class="d-flex m-0 backgorund-recent-news">
                        <div class="avatar-news"><img src="/images/products/recent5.jpg" alt="">
                        </div>
                        <div class="title-news">
                           <p class="m-0">Kinetic sculptures and sound circuits: building
                              solar-powered art at Pioneer Works</p>
                        </div>
                     </div>
                  </a>
               </div>
            </div> -->
         </div>
      </div>
      <% } %>
      <% } %>
   </div>
   <div class="col-xl-2 col-0 p-0 m-0 blank-col-nav"></div>
   </div>
</nav>
<br>
<form class="search-bar w-75 d-flex m-auto">
   <input type="text" id="searchBar__content" placeholder="Search" class="">
   <button type="submit" id="searchBar__btn" class="fa fa-search"></button>
</form>