<div class="col">
    <div class="card card-small">
        <div class="card-header">
            <div class="row pb-3 border-bottom">
                <div class="col my-auto">
                    <h6 class="m-0">List of Categories</h6>
                </div>
                <div class="col">
                    <div class="input-group border-bottom w-50 ml-auto">
                        <input type="text" class="form-control" placeholder="Add new category"
                            aria-label="Add new category" aria-describedby="basic-addon2" id="js-add-category__input">
                        <div class="input-group-append">
                            <button class="btn btn-white js-add-category px-2" type="button">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body pt-0">
            <ul id="js-categories-ul" class="list-unstyled row m-auto">
                <% categoryList.forEach(function(eachCategory){ %>
                <li class="list-item col-5 p-3 border mx-auto mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" value="<%= eachCategory.title %>"
                            style="font-size: 13pt;" disabled>
                        <div class="input-group-append">
                            <button class="btn btn-white js-edit-input__title" type="button" id="<%= eachCategory._id %>">
                                <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-white js-cancel-input" type="button" style="display:none;">
                                <i class="far fa-window-close"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <textarea type="text" class="form-control" style="font-size: 10pt;"
                            disabled> <%= eachCategory.description %> </textarea>
                        <div class="input-group-append">
                            <button class="btn btn-white js-edit-input__description" type="button" id="<%= eachCategory._id %>">
                                <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-white js-cancel-input" type="button" style="display:none;">
                                <i class="far fa-window-close"></i>
                            </button>
                        </div>
                    </div>


                    <ul class="list-group">
                        <% eachCategory.subCategories.forEach(function(eachSubCategory){ %>
                        <li class="list-group-item">
                            <!-- <p class="mb-1">Title</p> -->
                            <div class="input-group">
                                <input type="text" class="form-control" value="<%= eachSubCategory.title %>" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-white js-edit-input__title" type="button"
                                        id="<%= eachSubCategory._id %>">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button class="btn btn-white js-cancel-input" type="button" style="display:none;">
                                        <i class="far fa-window-close"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- <p class="mb-1">Description</p> -->
                            <div class="input-group">
                                <textarea class="form-control" style="font-size: 10pt;"
                                    disabled> <%= eachSubCategory.description %> </textarea>
                                <div class="input-group-append">
                                    <button class="btn btn-white js-edit-input__description" type="button"
                                        id="<%= eachSubCategory._id %>">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button class="btn btn-white js-cancel-input" type="button" style="display:none;">
                                        <i class="far fa-window-close"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <% }) %>
                        <li class="list-group-item">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Add new subcategory"
                                    aria-label="Add new category" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-white js-add-subcategory" type="button"
                                        parentId="<%= eachCategory._id %>">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </li>

                    </ul>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>