<% articleList.forEach((article, index) => { %>
<div class="col-lg-3 col-md-6 col-sm-12 mb-4">
    <div class="card card-small card-post card-post--1">
        <div class="card-post__image" style="background-image: url('<%= article.coverImage %>');">
            <%
                    var badgesClass = ["badge-dark", "badge-info", "badge-primary", "badge-warning"]
                    %><a href=""
                class="card-post__category badge badge-pill <%= badgesClass[index % 4] %>"><%= article.categories[article.categories.length - 1].title %></a><%
                  %>
        </div>

        <div class="card-body">
            <h5 class="card-title">
                <a class="text-fiord-blue" href="/administrator/view-post?id=<%= article._id %>"><%= article.title %></a>
            </h5>
            <p class="card-text mb-3"><%= article.abstract %></p>
            <span class="text-muted">
                <script>
                    document.writeln(moment(parseInt("<%= article.createdAt %>", 10)).format('LLLL'))
                </script>
            </span>

            <div class="post-actions w-75 mx-auto mt-3">
                <a href="/administrator/view-post?id=<%= article._id %>" class="btn btn-info w-100">View details</a>
            </div>
        </div>
    </div>
</div>
<% }) %>