<div class="main-navbar">
    <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
        <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
            <div class="d-table m-auto">
                <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;"
                    src="/images/icons/logo.png" alt="logo">
                <span class="d-none d-md-inline ml-1">Administrator</span>
            </div>
        </a>
        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
            <i class="material-icons">&#xE5C4;</i>
        </a>
    </nav>
</div>

<div class="nav-wrapper">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link <%- title === 'Categories' ? 'active' : '' %>" href="categories">
                <i class="material-icons">vertical_split</i>
                <span>Categories</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%- title === 'Tags' ? 'active' : '' %>" href="tags">
                <i class="material-icons">note_add</i>
                <span>Tags</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%- title === 'News' ? 'active' : '' %>" href="news">
                <i class="material-icons">edit</i>
                <span>News</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%- title === 'Users' ? 'active' : '' %>" href="users">
                <i class="material-icons">view_module</i>
                <span>Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%- title === 'Profile' ? 'active' : '' %>" href="profile">
                <i class="material-icons">person</i>
                <span>Profile</span>
            </a>
        </li>
    </ul>
</div>