<div class="add-new-post__main d-flex">
    <div class="col-lg-9 col-md-12 w-75">
        <div class="card card-small mb-3">
            <div class="card-body">
                <div class="article__title mb-3">
                    <h5>Title</h5>
                    <input class="form-control form-control-lg" id="article__title-input"
                        placeholder="Enter Post Title..." disabled>
                </div>

                <div class="article__abstract mb-3">
                    <h5>Abstract</h5>
                    <textarea id="article__abstract-input" class="form-control form-control-lg " rows="3" cols="110"
                        placeholder="Summary of your article here" disabled></textarea>
                </div>

                <div class="article__tags mb-3">
                    <h5>Tags</h5>
                    <input class='form-control flexdatalist flexdatalist-set' data-min-length='1' multiple='multiple'
                        list='tagList' id="article__tag-input">

                    <datalist id="tagList">
                        <option value=""> </option>
                    </datalist>
                </div>

                <div class="article__content mb-3">
                    <h5>Content</h5>
                    <textarea id="editor" rows="3" cols=106 disabled></textarea>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-12 m-0 w-25">
        <div class='card card-small mb-3'>
            <div class="card-header border-bottom">
                <h6 class="m-0">Categories</h6>
            </div>
            <div class='card-body p-0'>
                <div class="px-4 mt-3" id="article__categories-input">
                    <% categoryList.forEach(function(eachCategory){ %>
                    <label class="container_input" id="<%= eachCategory._id %>"><%= eachCategory.title %>
                        <input type="checkbox" name="radio">
                        <span class="custom-checkbox"></span>
                    </label>

                    <% if(eachCategory.subCategories.length !== 0){ %>
                    <div class="ml-4">
                        <% eachCategory.subCategories.forEach(function(eachSubCategory){ %>
                        <label class="container_input" id="<%= eachSubCategory._id %>"
                            parentId="<%= eachCategory._id %>"><%= eachSubCategory.title %>
                            <input type="radio" name="radio">
                            <span class="custom-radio"></span>
                        </label>
                        <% }) %>
                    </div>
                    <% } %>
                    <% }) %>
                </div>

                <div class="w-100 border"></div>
            </div>

            <ul class="list-group w-100">
                <li class="list-group-item d-flex">
                    <button class="btn btn-outline-accent" id="publishArticle-btn" style="font-size: 16px;">
                        <i class="fas fa-check"></i> Publish
                    </button>
                    <button class="btn btn-danger mx-3" id="denyArticle-btn" style="font-size: 16px;">
                        <i class="fas fa-times"></i> Deny
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal" id="deny__modal-background">
        <div class="deny__modal" id="deny__modal">
            <div class="changeAvatar__modal_header d-flex justify-content-end">
                <div class="btn text-dark" id="btn_deny_fail"><i class="fas fa-window-close fa-2x"></i></div>
            </div>
            <div class="p-3">
                <div class="form-group">
                    <label for="reason">Reason</label>
                    <textarea name="reason" type="text" class="form-control" id="js-reason-deny-textarea"
                        placeholder="Enter your reason"></textarea>
                    <span class="field-validation-error" id="js-reason-deny-errmsg"></span>
                </div>
            </div>

            <div class="changeAvatar__modal_footer pl-2 pr-2 pb-3 pt-0">
                <div class="btn btn btn-success d-flex justify-content-center" id="btn_deny_success">Save
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal" id="publish__modal-background">
    <div class="publish__modal" id="publish__modal">
        <div class="changeAvatar__modal_header d-flex justify-content-end">
            <div class="btn text-dark" id="btn_publish_fail"><i class="fas fa-window-close fa-2x"></i></div>
        </div>
        <div class="p-3">
            <div class="form-group">
                <label for="right">Publication way</label>
                <select name="right" class="custom-select" id="js-publish-date-select">
                    <option value="">Choose way</option>
                    <option value="selectdate">Date and Time</option>
                    <option value="datenow">Publish Now</option>
                </select>
                <span class="field-validation-error" id="js-publish-date-errmsg"></span>
            </div>
            <div class="form-group" id="input_datePublish">
                <label for="datePublish">Publish At</label>
                <div class="d-flex">
                    <input id="js-datePublish-input" type="text" class="input-sm form-control" name="datePublish"
                        placeholder="Enter your birthday">
                    <span class="input-group-append">
                        <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i> </span>
                    </span>
                    <span class="field-validation-error" id="js-datePublish-errmsg"></span>
                </div>
            </div>
        </div>

        <div class="changeAvatar__modal_footer pl-2 pr-2 pb-3 pt-0">
            <div class="btn btn btn-success d-flex justify-content-center" id="btn_publish_success">Save
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>