<div class="add-new-post__main d-flex">
    <div class="col-lg-9 col-md-12 w-75">
        <div class="card card-small mb-3">
            <div class="card-body">
                <div class="article__title mb-3">
                    <h5>Title</h5>
                    <input class="form-control form-control-lg" id="article__title-input"
                        placeholder="Enter Post Title..." value="<%= article.title %>">
                </div>

                <div class="article__abstract mb-3">
                    <h5>Abstract</h5>
                    <textarea id="article__abstract-input" class="form-control form-control-lg " rows="3" cols="110"
                    placeholder="Summary of your article here" ><%= article.abstract %></textarea>
                </div>
                
                <div class="article__tags mb-3">
                    <h5>Tags</h5>
                    <input id="edit_article__tag-input" value="<%= tagListValue %>" class='form-control flexdatalist flexdatalist-set' data-min-length='1' multiple='multiple' list='edit_tagList'>

                    <datalist id="edit_tagList">
                        <% tagList.forEach(eachTag => { %>
                            <option value="<%= eachTag._id %>"><%= eachTag.title %></option>
                        <% }) %>
                    </datalist>
                </div>
                <div class="article__content mb-3">
                    <h5>Content</h5>
                    <textarea id="editor" rows="3" cols="106" ></textarea>

                    <p id="articleContent" style="display: none;"><%= article.content %></p>
                    <script type="text/javascript">
                        window.onload = function() {
                            CKEDITOR.instances.editor.setData($('#articleContent').text())
                        }
                    </script>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-12 m-0 w-25">
        <div class='card card-small mb-3'>
            <div class="card-header border-bottom">
                <h6 class="m-0">Categories</h6>
            </div>
            <div class='card-body p-0'>
                <div class="px-4 mt-3" id="edit_article__categories-input">
                    <% categoryList.forEach(function(eachCategory){ %>
                    <label class="container_input" id="<%= eachCategory._id %>"><%= eachCategory.title %>
                        <% if (eachCategory._id.toString() === article.categories[0]._id.toString()) { %>
                            <input type="checkbox" name="radio" checked>
                        <% } else { %>
                            <input type="checkbox" name="radio">
                        <% } %>

                        <span class="custom-checkbox"></span>
                    </label>

                    <% if(eachCategory.subCategories.length !== 0){ %>
                    <div class="ml-4">
                        <% eachCategory.subCategories.forEach(function(eachSubCategory){ %>
                        <label class="container_input" id="<%= eachSubCategory._id %>" parentId="<%= eachCategory._id %>"><%= eachSubCategory.title %>
                            <% if (article.categories.length > 1 && eachSubCategory._id.toString() === article.categories[1]._id.toString()) { %>
                                <input type="radio" name="radio" checked>
                            <% } else { %>
                                <input type="radio" name="radio">
                            <% } %>
                            <span class="custom-radio"></span>
                        </label>
                        <% }) %>
                    </div>
                    <% } %>
                    <% }) %>
                </div>

                <div class="w-100 border"></div>
            </div>

            <ul class="list-group w-100">
                <li class="list-group-item d-flex">
                    <button class="btn btn-outline-accent" id="save_Edit_Article-btn" style="font-size: 16px;">
                        <i class="far fa-save"></i> Save
                    </button>
                    <button class="btn btn-danger mx-3" id="cancel_Edit_Article-btn" style="font-size: 16px;">
                        <i class="fas fa-trash-alt"></i> Cancel
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

