<div class="add-new-post__main d-flex">
    <div class="col-lg-9 col-md-12 w-75">
        <div class="card card-small mb-3">
            <div class="card-body">
                <div class="article__title mb-3">
                    <h5>Title</h5>
                    <input class="form-control form-control-lg" id="article__title-input"
                        placeholder="Enter Post Title..." value="<%= article.title %>" disabled>
                </div>

                <div class="article__abstract mb-3">
                    <h5>Abstract</h5>
                    <textarea id="article__abstract-input" class="form-control form-control-lg " rows="3" cols="110"
                        placeholder="Summary of your article here" disabled><%= article.abstract %></textarea>
                </div>

                <div class="article__tags mb-3">
                    <h5>Tags</h5>
                    <input id="edit_article__tag-input" value="<%= tagListValue %>"
                        class='form-control flexdatalist flexdatalist-set' data-min-length='1' multiple='multiple'
                        list='edit_tagList'>

                    <datalist id="edit_tagList">
                        <% tagList.forEach(eachTag => { %>
                        <option value="<%= eachTag._id %>"><%= eachTag.title %></option>
                        <% }) %>
                    </datalist>
                </div>
                <div class="article__content mb-3">
                    <h5>Content</h5>
                    <textarea id="editor" rows="3" cols="106"></textarea>

                    <p id="articleContent" style="display: none;"><%= article.content %></p>
                    <script type="text/javascript">
                        window.onload = function () {
                            CKEDITOR.instances.editor.setData($('#articleContent').text())
                        }
                    </script>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-12 m-0 w-25">
        <div class='card card-small mb-3'>
            <div class="card-header border-bottom">
                <h6 class="m-0">Categories</h6>
            </div>
            <div class='card-body p-0'>
                <div class="px-4 mt-3" id="edit_article__categories-input">
                    <% categoryList.forEach(function(eachCategory){ %>
                    <label class="container_input" id="<%= eachCategory._id %>"><%= eachCategory.title %>
                        <% if (eachCategory._id.toString() === article.categories[0]._id.toString()) { %>
                        <input type="checkbox" name="radio" checked>
                        <% } else { %>
                        <input type="checkbox" name="radio">
                        <% } %>

                        <span class="custom-checkbox"></span>
                    </label>

                    <% if(eachCategory.subCategories.length !== 0){ %>
                    <div class="ml-4">
                        <% eachCategory.subCategories.forEach(function(eachSubCategory){ %>
                        <label class="container_input" id="<%= eachSubCategory._id %>"
                            parentId="<%= eachCategory._id %>"><%= eachSubCategory.title %>
                            <% if (article.categories.length > 1 && eachSubCategory._id.toString() === article.categories[1]._id.toString()) { %>
                            <input type="radio" name="radio" checked>
                            <% } else { %>
                            <input type="radio" name="radio">
                            <% } %>
                            <span class="custom-radio"></span>
                        </label>
                        <% }) %>
                    </div>
                    <% } %>
                    <% }) %>
                </div>

                <div class="w-100 border"></div>
            </div>

            <ul class="list-group w-100">
                <li class="list-group-item d-flex">
                    <button class="btn btn-outline-accent" id="publishArticle-btn" style="font-size: 16px;">
                        <i class="fas fa-check"></i> Publish
                    </button>
                    <button class="btn btn-danger mx-3" id="denyArticle-btn" style="font-size: 16px;">
                        <i class="fas fa-times"></i> Deny
                    </button>
                </li>
            </ul>
        </div>
    </div>


</div>
<div class="modal" id="deny__modal-background">
    <div class="deny__modal" id="deny__modal">
        <div class="changeAvatar__modal_header d-flex justify-content-end">
            <div class="btn text-dark" id="btn_deny_fail"><i class="fas fa-window-close fa-2x"></i></div>
        </div>
        <div class="p-3">
            <div class="form-group">
                <label for="reason">Reason</label>
                <textarea name="reason" type="text" class="form-control" id="js-reason-deny-textarea"
                    placeholder="Enter your reason"></textarea>
                <span class="field-validation-error" id="js-reason-deny-errmsg"></span>
            </div>
        </div>

        <div class="changeAvatar__modal_footer pl-2 pr-2 pb-3 pt-0">
            <div editorId="<%= account._id %>" class="btn btn btn-success d-flex justify-content-center"
                id="btn_deny_success" articleId="<%= article._id %>">Save
            </div>
        </div>
    </div>
</div>
<div class="modal" id="publish__modal-background">
    <div class="publish__modal" id="publish__modal">
        <div class="changeAvatar__modal_header d-flex justify-content-end">
            <div class="btn text-dark" id="btn_publish_fail"><i class="fas fa-window-close fa-2x"></i></div>
        </div>
        <div class="p-3">
            <div class="form-group">
                <label for="right">Publication way</label>
                <select name="right" class="custom-select" id="js-publish-date-select">
                    <option value="">Choose way</option>
                    <option value="selectdate">Date and Time</option>
                    <option value="datenow">Publish Now</option>
                </select>
                <span class="field-validation-error" id="js-publish-date-errmsg"></span>
            </div>
            <div class="form-group" id="input_datePublish">
                <label for="datePublish">Publish At</label>
                <div class="d-flex">
                    <input id="js-datePublish-input" type="text" class="input-sm form-control" name="datePublish"
                        placeholder="Enter your date">
                    <span class="input-group-append">
                        <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i> </span>
                    </span>
                    <input id="js-timePublish-input" type="time" class=" ml-2 input-sm form-control" name="timePublish"
                        placeholder="Enter your birthday">
                    <span class="field-validation-error" id="js-datePublish-errmsg"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="type">Type Article</label>
                <select name="right" class="custom-select" id="js-type-select">
                    <option value="0">Normal</option>
                    <option value="1">Premium</option>
                </select>
            </div>
        </div>
    </div>

    <div class="changeAvatar__modal_footer pl-2 pr-2 pb-3 pt-0">
        <div editorId="<%= account._id %>" class="btn btn btn-success d-flex justify-content-center"
            id="btn_publish_success" articleId="<%= article._id %>">Save
        </div>
    </div>
</div>

</div>
<div class="modal fade success__modal" id="success__modal" tabindex="-1" role="dialog"
    aria-labelledby="success__modalLabel" aria-hidden="true" style="z-index: 10000;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2 pb-2 pl-3 pr-3">
                <h4 class="modal-title modal-title-custom" id="success__modalLabel">Congratulations</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-custom pt-2 pb-2 pl-3 pr-3" id="success__modalContent">
            </div>
            <div class="modal-footer modal-footer-custom p-2">
                <button type="button" class="btn btn-success" data-dismiss="modal">OKAY</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade errors__modal" id="errors__modal" tabindex="-1" role="dialog"
    aria-labelledby="errors__modalLabel" aria-hidden="true" style="z-index: 10000;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2 pb-2 pl-3 pr-3">
                <h4 class="modal-title modal-title-custom" id="errors__modalLabel">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-custom pt-2 pb-2 pl-3 pr-3" id="errors__modalContent">
            </div>
            <div class="modal-footer modal-footer-custom p-2">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>